body {
    margin: 0;
}

.react-autosuggest__suggestions-container--open ul {
    margin: 0;
    list-style: none;
    box-shadow: 2px 3px 5px 0px rgba(188, 188, 188, 0.75);
    padding: 0;
}

.react-autosuggest__suggestions-container--open li {
    padding: 5px;
    cursor: pointer;
}

.react-autosuggest__suggestions-container--open li:hover {
    background-color: #fafafa;
}